# Logistics Regresion

**Import Lib**

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,MinMaxScaler,RobustScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

**Load the dataset**

In [3]:
# Load the dataset
data = pd.read_csv("./winequality-white.csv")

**Overview**

In [4]:
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [5]:
data.value_counts(['quality'])

quality
6          2198
5          1457
7           880
8           175
4           163
3            20
9             5
Name: count, dtype: int64

**Train Model**

In [6]:
# Define features and target
X = data.drop(columns=["quality"])
y = data["quality"]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,stratify=y, random_state=42)

# Standardize the features
scaler = RobustScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Initialize and train the model
model = LogisticRegression(max_iter=1000)
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

In [7]:

pd.DataFrame(X_train).head()

,0,1,2,3,4,5,6,7,8,9,10
0,-1.2,-0.454545,-0.666667,-0.096677,-1.142857,0.136364,0.275862,-0.632177,0.6,-1.142857,0.578947
1,-0.6,0.363636,-0.083333,-0.435045,-0.571429,0.272727,-0.482759,-1.055145,0.4,-0.571429,1.315789
2,-0.4,0.090909,0.000000,-0.084592,14.071429,1.227273,0.689655,0.231950,-0.3,0.071429,-0.526316
3,-0.5,-0.363636,0.166667,-0.483384,-0.500000,-0.090909,-0.655172,-0.948266,-0.6,1.928571,0.631579
4,-1.5,0.363636,-1.333333,-0.120846,-1.000000,0.136364,-0.586207,-0.745878,0.6,-0.785714,0.736842

**Evaluate the model**

In [10]:
# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
# report = classification_report(y_test, y_pred)

print("Accuracy:", accuracy)
# print(report)

Accuracy: 0.5489795918367347