# Logistics Regresion

**Import Lib**

In [72]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,MinMaxScaler,RobustScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

**Load the dataset**

In [73]:
# Load the dataset
data = pd.read_csv("./removed_outlier.csv")

**Overview**

In [74]:
data.head()

,Unnamed: 0,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [75]:
data.value_counts(['quality'])

quality
6          1860
5          1101
7           792
8           145
4            88
3             8
9             4
Name: count, dtype: int64

**Train Model**

In [76]:
# Define features and target
X = data.drop(columns=["quality"])
y = data["quality"]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,stratify=y, random_state=42)

# Standardize the features
scaler = RobustScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Initialize and train the model
model = LogisticRegression(max_iter=1000)
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

In [77]:

pd.DataFrame(X_train).head()

        0         1         2         3
0  0.4625  0.263158  0.238979  0.428571
1 -0.4625 -0.473684 -0.167053  0.642857
2  1.9375 -0.894737  1.735499  0.214286
3 -0.4000  1.263158 -0.816705 -0.142857
4  0.6750 -0.210526  0.621810 -0.214286

**Evaluate the model**

In [78]:
# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
# report = classification_report(y_test, y_pred)

print("Accuracy:", accuracy)
# print(report)

Accuracy: 0.51625